In [1]:
import spacy
nlp = spacy.load('en_coref_lg')
doc = nlp(u"For centuries, the southeastern shores of the Baltic Sea were inhabited by various Baltic tribes. In the 1230s, the Lithuanian lands were united by Mindaugas, the King of Lithuania, and the first unified Lithuanian state, the Kingdom of Lithuania, was created on 6 July 1253. During the 14th century, the Grand Duchy of Lithuania was the largest country in Europe; present-day Lithuania, Belarus, Ukraine, and parts of Poland and Russia were the territories of the Grand Duchy. With the Lublin Union of 1569, Lithuania and Poland formed a voluntary two-state union, the Polish–Lithuanian Commonwealth. The Commonwealth lasted more than two centuries, until neighbouring countries systematically dismantled it from 1772 to 1795, with the Russian Empire annexing most of Lithuania's territory. As World War I neared its end, Lithuanias Act of Independence was signed on 16 February 1918, declaring the founding of the modern Republic of Lithuania. In the midst of the Second World War, Lithuania was first occupied by the Soviet Union and then by Nazi Germany. As World War II neared its end and the Germans retreated, the Soviet Union reoccupied Lithuania. On 11 March 1990, a year before the formal dissolution of the Soviet Union, Lithuania became the first Baltic state[12] to declare itself independent, resulting in the restoration of an independent State of Lithuania after 50 years of Soviet occupation. Lithuania is a member of the European Union, the Council of Europe, a full member of the eurozone, Schengen Agreement, OECD and NATO. It is also a member of the Nordic Investment Bank, and part of Nordic-Baltic cooperation of Northern European countries. The United Nations Human Development Index lists Lithuania as a 'very high human development' country.")

E:\Anaconda3-5.2.0\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
E:\Anaconda3-5.2.0\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192, got 176
  return f(*args, **kwds)
E:\Anaconda3-5.2.0\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
E:\Anaconda3-5.2.0\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192, got 176
  return f(*args, **kwds)

In [2]:
corefed = doc._.coref_resolved # Replaces coreferences with the reference - "It's -> Lithuania's"

In [3]:
doc._.coref_clusters[0]

Lithuania: [Lithuania, Lithuania, Lithuania, Lithuania, Lithuania, Lithuania, Lithuania, Lithuania, itself, Lithuania, Lithuania, It]

In [4]:
cluster_names = []
for clust in doc._.coref_clusters:
    cluster_names.append(str(clust[0]).lower())

In [5]:
cluster_names

['lithuania',
 'poland',
 'the commonwealth',
 'world war',
 'the soviet union',
 'germany']

In [6]:
text_raw = corefed

import gensim

text = gensim.utils.simple_preprocess(text_raw)

E:\Anaconda3-5.2.0\lib\site-packages\gensim\utils.py:1209: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [7]:
import pandas as pd
import numpy as np
text_clust = pd.DataFrame({
    'word': text
})

In [8]:
def get_is_clust(word):
    if word in cluster_names:
        return 1
    else: 
        return 0

In [9]:
text_clust['is_cluster'] = text_clust['word'].map(get_is_clust)

In [10]:
def get_nearest_cluster(word_pos, n_nearest, text_clust, cluster_names):
    
    ind = word_pos
    ind_up, ind_dn = ind, ind

    match_count = 0
    cluster_match_count = np.repeat(0, len(cluster_names))

    # Up direction
    while ind_up >= 0:
        if text_clust.loc[ind_up]['is_cluster']:
            cluster_num = cluster_names.index(text_clust.loc[ind_up]['word'])
            cluster_match_count[cluster_num] += 1
            match_count += 1
            if match_count >= n_nearest:
                break
            
        ind_up -= 1

    # Down direction.
    while ind_dn < text_clust.shape[0]:
        if text_clust.loc[ind_dn]['is_cluster']:
            cluster_num = cluster_names.index(text_clust.loc[ind_dn]['word'])
            cluster_match_count[cluster_num] += 1
            match_count += 1
            if match_count >= n_nearest:
                break
        
        ind_dn += 1
            
    return cluster_match_count.argmax()

In [11]:
word_clusters = []
for word_pos in range(len(text_clust['word'])):
    word_clusters.append(get_nearest_cluster(word_pos, n_nearest=4, text_clust=text_clust, cluster_names=cluster_names))

In [12]:
text_clust['nearest_clusters'] = word_clusters
text_clust

             word  is_cluster  nearest_clusters
0             for           0                 0
1       centuries           0                 0
2             the           0                 0
3    southeastern           0                 0
4          shores           0                 0
5              of           0                 0
6             the           0                 0
7          baltic           0                 0
8             sea           0                 0
9            were           0                 0
10      inhabited           0                 0
11             by           0                 0
12        various           0                 0
13         baltic           0                 0
14         tribes           0                 0
15             in           0                 0
16            the           0                 0
17            the           0                 0
18     lithuanian           0                 0
19          lands           0                 0
20           were           0                 0
21         united           0                 0
22             by           0                 0
23      mindaugas           0                 0
24            the           0                 0
25           king           0                 0
26             of           0                 0
27      lithuania           1                 0
28            and           0                 0
29            the           0                 0
..            ...         ...               ...
238        member           0                 0
239            of           0                 0
240           the           0                 0
241        nordic           0                 0
242    investment           0                 0
243          bank           0                 0
244           and           0                 0
245          part           0                 0
246            of           0                 0
247        nordic           0                 0
248        baltic           0                 0
249   cooperation           0                 0
250            of           0                 0
251      northern           0                 0
252      european           0                 0
253     countries           0                 0
254           the           0                 0
255        united           0                 0
256       nations           0                 0
257         human           0                 0
258   development           0                 0
259         index           0                 0
260         lists           0                 0
261     lithuania           1                 0
262            as           0                 0
263          very           0                 0
264          high           0                 0
265         human           0                 0
266   development           0                 0
267       country           0                 0

[268 rows x 3 columns]